/* DraggableResizableImage.module.css */
.draggableResizableImage {
  position: absolute;
  z-index: 1;
  cursor: grab;
  border: 1px solid #ccc;
  overflow: hidden;
}

.resizableBox {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.maindiv{
  width: 100%;
  height: 100%;
}
