.select-img{
  position: relative;
  width: 100%;
  height: 100%;
} 

.select-img img{
  width: 100%;
  height: 100%;
} 

/* 이미지 선택하면 파란색뜨는 그거 */
.drag-handle{     
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: aqua;
  cursor: move;
}


