
.header {
  position: fixed;
  z-index: 20;
  width: 100%;
  background-color: #000505;
  color: white;
  padding: 0; /* 필요에 따라 패딩 조절 */
  margin: 0; 
}

.black-nav {
  display: flex;
  width: 100%;
  color: white;
  padding-left: 0;
  height: 60px; /* 세로 크기 조절 */
  
}

.logo {
  font-size: 24px;
  font-weight: bold;
  padding-top: 13px;
  

  position: relative;
  bottom: 5px;
  left: 20px;
}


.login-button {
  position: absolute;
  top: 12px;
  right: 20px;
  display: flex;
  align-items: center;
  transition: background-color 0.3s; /* 변환 애니메이션 추가 */
  border-radius: 500%; /* 동그라미 모양으로 만들기 위한 경계 반경 설정 */
  width: 40px; /* 너비를 높이와 동일하게 설정하여 동그라미 모양으로 만듭니다 */
  height: 40px; /* 높이를 동그라미 모양으로 만듭니다 */
}

.logout{
  background-color: mediumaquamarine;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 15px;
  padding: 10px 15px;
}

.logout-div{
  position: absolute;
  top: 12px;
  right: 20px;
}