.s0{
  width: 100%;
  height: 100vh; /* 배경 풀스크린 설정 */

  background-image: url('/img/phone1.jpg');
  background-size: cover;
  background-position: center;
  
}

/* 슬라이더 자체 */
.s0-slider{           
  margin-top: 180px; /* 위쪽 여백 설정 클래스 네임 정해주고 해야할듯 */
}

.s0-slider0-ww { 

  display: flex;
  justify-content: center; /* 수평 가운데 정렬 */
  align-items: center; /* 수직 가운데 정렬 */
  max-width: 100%; /* 최대 가로 너비 설정 */
  margin: 0 auto; /* 좌우 여백을 자동으로 설정하여 가운데 정렬 */
  justify-content: center;
  align-items: center;
}
  
.s0-slider0-ww .slick-slider {
  width: 100%; /* 슬라이더의 가로 너비를 100%로 설정 */
}


/* 상품 이미지 */
.s0-slide-image{
  z-index:-1;

}
